/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --size-100: 0.625rem;
  --size-150: 0.9375rem;
  --size-200: 1.25rem;
  --size-250: 1.875rem;
  --size-300: 1.875rem;
  --size-400: 2.5rem;
  --size-500: 3.125rem;
  --size-600: 3.75rem;
  --size-700: 4.375rem;
  --fs-100: 0.625rem;
  --fs-160: 1rem;
  --fs-200: 1.25rem;
  --fs-300: 1.875rem;
  --clr-black: #000;
  --clr-black-less: #151515;
  --clr-white: #fff;
  --clr-lightblue: #77abb7;
  --clr-purple: #9290c3;
  --clr-react: #61dbfb;
  --clr-php: #777bb3;
  --clr-react: hsl(192, 95%, 68%);
  --clr-node: rgb(60, 135, 58);
  --clr-html-logo: #e34c26;
  --clr-js-logo: #f0db4f;
  --clr-php-logo: #8993be;
  --clr-bs-logo: #563d7c;
  --clr-css-logo: #264de4;
  --clr-sass-logo: #cc6699;
  --fw-100: 600;
  --clr-darkest: #0f171e;
  --clr-darkest-blue-alpha: rgba(7, 15, 43, 0.9);
  --clr-dark: #17222d;
  --clr-light: #1e2e3c;
  --clr-lighter: #263a4c;
  --clr-lightest: #2e455b;
}

.navbar-custom {
  padding: 0;
  background-color: var(--clr-darkest);
  color: var(--clr-white);
  z-index: 101;
}

.link-custom {
  padding: 1.5rem 0;
}

.link-custom:hover {
  background-color: var(--clr-white);
  color: var(--clr-black) !important;
}

.navbar-brand-custom {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}

.logo_img {
  max-width: 60px;
}

.custom-icon {
  font-size: 1.8rem;
}

.header {
  background-color: #387478;
  background-size: cover;
  background-attachment: fixed;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.header .header-text-container {
  z-index: 10;
}

.header .header-roles {
  font-family: "Roboto", sans-serif;
}

.custom-btn {
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
}

.custom-btn:hover {
  background-color: var(--clr-white);
  color: var(--clr-black);
}

.social-link {
  text-decoration: none;
  font-weight: 700;
  background-color: var(--clr-light);
  color: #f4f4f4;
  transition: all 0.4s ease;
  white-space: nowrap;
}

.social-link:hover {
  color: #f4f4f4;
  background-color: var(--clr-lighter);
}

.mobile-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2rem;
  text-decoration: none;
  color: var(--clr-white);
}

.mobile-link:visited {
  color: var(--clr-white);
  text-decoration: none;
}

.mobile-link:link {
  color: var(--clr-white);
  text-decoration: none;
}

.social-links-mobile-inner {
  justify-content: center;
  gap: 5rem;
}

.about-img {
  width: 200px;
}

.tech-skill-icon {
  font-size: var(--size-300);
}

.tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-item span {
  padding-left: 20px;
}

.tech-skills {
  display: flex;
  flex-direction: column;
  gap: var(--size-200);
}

.view-resume-btn {
  transition: all 0.3s ease-in-out;
}

.download-resume-btn {
  background-color: var(--clr-light) !important;
  color: var(--clr-white);
  transition: all 0.3s ease-in-out;
}

.download-resume-btn:hover {
  background-color: var(--clr-lightest) !important;
  color: var(--clr-white);
}

.linkedin-profile {
  text-decoration: none;
}

.linkedin-list-item {
  transition: all 0.2s ease-in;
}

.linkedin-list-item:hover {
  transform: scale(1.05);
}

.tabbed-component {
  padding-top: 20px;
  background-color: var(--clr-dark);
  color: #fff;
  height: 600px;
}

.bootstrap-container {
  position: relative;
}

.tabs-container {
  transform: translateY(-35%);
}

.tab {
  color: var(--clr-white);
  cursor: pointer;
  padding: 1rem;
  white-space: nowrap;
  border: 0;
  background-color: var(--clr-darkest);
  transition: all 0.3s ease;
  font-weight: var(--fw-100);
}

.description-how-text p {
  text-align: justify;
}

@media (min-width: 768px) {
  .tab.tab_active {
    transform: translateY(-35%);
    background-color: var(--clr-lighter);
  }
  .learning-component:not(:last-child) {
    border-right: 1px solid white;
  }
}
.html-custom {
  color: var(--clr-html-logo);
}

.js-custom {
  color: var(--clr-js-logo);
}

.php-custom {
  color: var(--clr-php-logo);
}

.react-custom {
  color: var(--clr-react);
}

.css-custom {
  color: var(--clr-css-logo);
}

.sass-custom {
  color: var(--clr-sass-logo);
}

.description {
  overflow: hidden;
  display: none;
  min-height: 350px;
  padding-bottom: 3rem;
}

.description-active {
  display: flex;
}

.tab-text {
  display: none;
}

.tab_active {
  transform: translateY(-45%);
}

.project-card {
  transition: all 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.modal-footer {
  border: none;
}

.btn-preview {
  flex: 1;
}

.btn-github {
  flex: 1;
}

.modal-body img {
  border-radius: 5px;
}

.image-inside-modal {
  border: 1px solid var(--clr-black);
}

.card-text-custom {
  text-align: justify;
}

.currently-learning {
  background-color: rgba(0, 0, 0, 0.7);
}

.icon-node-custom {
  color: var(--clr-node);
}

.icon-php-custom {
  color: var(--clr-php);
}

.text-node-custom {
  color: var(--clr-node);
}

.text-php-custom {
  color: var(--clr-php);
}

.dev-blog {
  background-color: var(--clr-darkest);
}

.contact_form {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
  background-color: hsl(209, 33%, 27%);
  padding: var(--size-700);
  border-radius: 20px;
}

.contact_form div {
  background-color: white;
}

.contact_form div input {
  color: var(--clr-black) !important;
}

.contact_form div textarea {
  color: var(--clr-black) !important;
}

.submit-custom {
  background-color: hsl(208, 33%, 9%) !important;
}

.form-modal-btn {
  position: fixed;
  right: 2%;
  bottom: 25%;
  color: var(--clr-white);
}

.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-dark);
  padding: 0.75rem;
  border-radius: 50%;
  position: fixed;
  right: 2%;
  bottom: 5%;
  color: var(--clr-white);
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-dark);
  padding: 0.75rem;
  border-radius: 50%;
  position: fixed;
  bottom: 12.5%;
  right: 2.5%;
  z-index: 11;
}

.form-button:hover,
.back-to-top:hover {
  cursor: pointer;
}

.form-modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-dark);
  padding: 0.75rem;
  border-radius: 50%;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.submit-btn {
  flex: 1;
}

.cancel-btn {
  flex: 1;
}

.modal-form {
  padding: 1rem;
  border-radius: 0.75rem;
}

@media (max-width: 577px) {
  .tabbed-component {
    height: 650px;
  }
  .description {
    flex-direction: column;
  }
  .tabs-container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }
  .tab {
    flex: 1;
  }
  .description-how-title,
  .description-what-title {
    font-size: 1.4rem;
  }
  .description p {
    font-size: 1rem;
    text-align: justify;
  }
}
@media (min-width: 578px) and (max-width: 769px) {
  .navbar-custom {
    padding: 0;
  }
  .header .roles {
    font-size: 18px !important;
  }
  .header .social i {
    font-size: 30px;
  }
  .about-content {
    flex-direction: column;
  }
  .stats .stat {
    border-right: none !important;
    margin-bottom: 40px;
    border-bottom: var(--bs-dark) solid 1px;
    padding-bottom: 20px;
  }
  .social-links-row {
    display: flex;
    gap: 0.5rem;
  }
  .social-links-row a {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .nav-link {
    display: flex;
    justify-content: center;
  }
  .container-custom {
    max-width: 100% !important;
  }
  .tabbed-component {
    height: 500px;
  }
  .description {
    flex-direction: column;
  }
  .tabs-container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }
  .tab {
    flex: 1;
  }
  .description-how-title,
  .description-what-title {
    font-size: 1.4rem;
  }
  .description p {
    font-size: 1rem;
    text-align: justify;
  }
}
@media (min-width: 770px) and (max-width: 992px) {
  .navbar-custom {
    padding: 0 50px;
  }
  .tabbed-component {
    height: 480px;
  }
  .description {
    flex-direction: column;
  }
  .tabs-container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }
  .tab {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .tab-text {
    display: block;
  }
  .description p {
    font-size: 1rem;
    text-align: justify;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .tabbed-component {
    height: 480px;
  }
  .description {
    flex-direction: row;
    gap: 3rem;
  }
  .tabs-container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }
  .tab {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .tab-text {
    display: block;
  }
  .description p {
    font-size: 1rem;
    text-align: justify;
  }
  .description-how {
    flex: 2;
    padding-right: 1rem;
    border-right: 1px solid white;
  }
  .description-what {
    flex: 1;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .tabbed-component {
    height: 480px;
  }
  .description {
    flex-direction: row;
    gap: 3rem;
  }
  .tabs-container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }
  .tab {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .tab-text {
    display: block;
  }
  .description p {
    font-size: 1rem;
    text-align: justify;
  }
  .description-how {
    flex: 2;
    padding-right: 1rem;
    border-right: 1px solid white;
  }
  .description-what {
    flex: 1;
  }
}
@media (min-width: 1401px) {
  .tabbed-component {
    height: 450px;
  }
  .description {
    flex-direction: row;
    gap: 3rem;
  }
  .tabs-container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }
  .tab {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .tab-text {
    display: block;
  }
  .description p {
    font-size: 1rem;
    text-align: justify;
  }
  .description-how {
    flex: 2;
    padding-right: 1rem;
    border-right: 1px solid white;
  }
  .description-what {
    flex: 1;
  }
}
.no-display {
  display: none;
}
