// CSS reset

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  // size variables for margins/padding
  --size-100: 0.625rem;
  --size-150: 0.9375rem;
  --size-200: 1.25rem;
  --size-250: 1.875rem;
  --size-300: 1.875rem;
  --size-400: 2.5rem;
  --size-500: 3.125rem;
  --size-600: 3.75rem;
  --size-700: 4.375rem;

  // size var for font-size
  --fs-100: 0.625rem;
  --fs-160: 1rem;
  --fs-200: 1.25rem;
  --fs-300: 1.875rem;

  // colors
  --clr-black: #000;
  --clr-black-less: #151515;
  --clr-dark-blue: #1d3e53;
  --clr-white: #fff;
  --clr-lightblue: #77abb7;
}

// Navigation
.my_navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  background-color: var(--clr-black);
  // position: relative;
}

.sticky_navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.nav_logo {
  color: var(--clr-white);
}

.nav_list {
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 0;
}

.nav_list-item {
  list-style-type: none;
}

.nav_list-link {
  padding: 2rem 0;
  text-decoration: none;
  color: var(--clr-white);
  display: inline-block;
}

.nav_list-link:hover {
  color: var(--clr-lightblue);
}

.nav_burger_menu {
  display: none;
}

.nav_custom-icon {
  color: var(--clr-white);
  font-size: 30px;
}

// navigation end

// header start
.header {
  background: var(--clr-black-less) url("../images/header-background.jpg")
    no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 84px;
}

// header overlay
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.header .header-text-container {
  z-index: 10;
}

.header .header-roles {
  font-family: "Roboto", sans-serif;
}

.custom-btn {
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
}

// social links in the hero section
.social-link {
  text-decoration: none;
  font-weight: 700;
  background-color: var(--clr-dark-blue);
  color: #f4f4f4;
  transition: all 0.4s ease;
  white-space: nowrap;
}

.social-link:hover {
  color: #f4f4f4;
  background-color: var(--clr-dark-blue);
}
// header end

// About Me start

.about-img {
  width: 200px;
}

// About Me end

// Profile & technical skills start

.tech-skill-icon {
  font-size: var(--size-300);
}

.tech-item {
  display: flex;
  align-items: center;
}

.tech-item span {
  padding-left: 20px;
}

.tech-skills {
  display: flex;
  flex-direction: column;
  gap: var(--size-200);
}

.view-resume-btn {
  transition: all 0.3s ease-in-out;
}

.download-resume-btn {
  background-color: var(--clr-dark-blue) !important;
  color: var(--clr-white);
  transition: all 0.3s ease-in-out;
}

.download-resume-btn:hover {
  background-color: #000 !important;
  color: var(--clr-white);
}

// Profile & technical skills end

// Tabbed component start
.tabbed-component {
  padding-top: 20px;
  background-color: #454545;
  color: #fff;
  border: 1px solid green;
}

.container-descriptions {
  margin-top: 20px;
}

.bootstrap-container {
  position: relative;
}

.tabs-container {
  transform: translateY(-35%);
}

.tab {
  color: var(--clr-black);
  border: 1px solid var(--clr-black);
  background-color: var(--clr-white);
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 1rem;
  white-space: nowrap;
}

.tab:hover {
  color: var(--clr-black);
}

.tab_active {
  transform: translateY(-35%);
  background-color: #f0f0f0;
  // transition: all 0;
}

.description {
  overflow: hidden;
  display: none;
  min-height: 350px;
  padding-bottom: 3rem;
}

.description-active {
  display: flex;
}

// Tabbed component end

// portfolio content start

.card {
  transition: all 0.4s ease;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.8;
}

.my_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  z-index: 10;
}

.closing_btn {
  position: absolute;
  top: var(--size-200);
  right: var(--size-200);
  z-index: 11;
  color: #000;
}

.closing_btn:hover {
  cursor: pointer;
}

.display-none {
  display: none;
}

// modals

.my_modal {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -20%);
  border-radius: var(--size-200);
  padding: var(--size-500);
  z-index: 1000;
  max-width: 600px;
  width: 90%;
  // max-height: 90vh;
  overflow: hidden;
  box-sizing: border-box;
}

.modal_image {
  padding-top: var(--size-100);
}

.modal_image_inner {
  border-radius: var(--size-200);
}

.modal_title {
  padding-top: var(--size-200);
}

.modal_action {
  display: flex;
  justify-content: center;
  padding-top: var(--size-200);
  gap: var(--size-100);
}

.modal_paragraph {
  padding-top: var(--size-200);
}

// portfolio content end

// learning journey start
.currently-learning {
  background: url("../images/bg.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.currently-learning::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.currently-learning .container {
  z-index: 10;
}

// learning journey end

// Media Queries
@media (max-width: 577px) {
  .description-how {
    border-bottom: 1px solid white;
  }
}

@media (max-width: 769px) {
  .header .roles {
    font-size: 18px !important;
  }

  .header .social i {
    font-size: 30px;
  }

  .about-content {
    flex-direction: column;
  }

  .stats .stat {
    border-right: none !important;
    margin-bottom: 40px;
    border-bottom: var(--bs-dark) solid 1px;
    padding-bottom: 20px;
  }

  .social-links-row {
    display: flex;
    gap: 0.5rem;
  }

  .social-links-row a {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  // styling the navigation
  // making the burger menu appear
  .nav_list {
    position: absolute;
    top: var(--size-700);
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #070f2b;
    color: var(--clr-white);
    gap: 0;
    overflow: hidden;
    z-index: 100;
    padding: 0;
    transition: all 0.5s ease-in-out;
  }

  .nav_list-item {
    padding: 20px;
    width: 100%;
  }

  .nav_list-item:hover {
    background-color: var(--clr-white);
    color: #000;
    cursor: pointer;
  }

  .nav_list-item:hover .nav_list-link {
    color: #000;
  }

  .nav_burger_menu {
    display: flex;
  }

  .nav_burger_menu:hover {
    cursor: pointer;
  }
}

@media (min-width: 770px) {
  .description-how {
    border-right: 1px solid white;
  }
}
