// CSS reset

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  // size variables for margins/padding
  --size-100: 0.625rem;
  --size-150: 0.9375rem;
  --size-200: 1.25rem;
  --size-250: 1.875rem;
  --size-300: 1.875rem;
  --size-400: 2.5rem;
  --size-500: 3.125rem;
  --size-600: 3.75rem;
  --size-700: 4.375rem;

  // size var for font-size
  --fs-100: 0.625rem;
  --fs-160: 1rem;
  --fs-200: 1.25rem;
  --fs-300: 1.875rem;

  // colors
  --clr-black: #000;
  --clr-black-less: #151515;
  // --clr-dark-blue: #1d3e53;
  --clr-white: #fff;
  --clr-lightblue: #77abb7;
  --clr-purple: #9290c3;
  --clr-react: #61dbfb;
  --clr-php: #777bb3;
  --clr-react: hsl(192, 95%, 68%);
  --clr-node: rgb(60, 135, 58);

  // colors of logos
  --clr-html-logo: #e34c26;
  --clr-js-logo: #f0db4f;
  --clr-php-logo: #8993be;
  --clr-bs-logo: #563d7c;
  --clr-css-logo: #264de4;
  --clr-sass-logo: #cc6699;

  // font weights
  --fw-100: 600;

  // color palette
  --clr-darkest: #0f171e;
  --clr-darkest-blue-alpha: rgba(7, 15, 43, 0.9);
  --clr-dark: #17222d;
  --clr-light: #1e2e3c;
  --clr-lighter: #263a4c;
  --clr-lightest: #2e455b;
}

// Navigation start
.navbar-custom {
  padding: 0;
  background-color: var(--clr-darkest);
  color: var(--clr-white);
  z-index: 101;
}

.link-custom {
  padding: 1.5rem 0;
}

.link-custom:hover {
  background-color: var(--clr-white);
  color: var(--clr-black) !important;
}

.navbar-brand-custom {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}

.logo_img {
  max-width: 60px;
}

.custom-icon {
  font-size: 1.8rem;
}

.navigation-contact-button {
  cursor: pointer;
}

// navigation end

// header start
.header {
  background-color: #387478;
  background-size: cover;
  background-attachment: fixed;
}

// header overlay
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.header .header-text-container {
  z-index: 10;
}

.header .header-roles {
  font-family: "Roboto", sans-serif;
}

.custom-btn {
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
}

.custom-btn:hover {
  background-color: var(--clr-white);
  color: var(--clr-black);
}

// social links in the hero section
.social-link {
  text-decoration: none;
  font-weight: 700;
  background-color: var(--clr-light);
  color: #f4f4f4;
  transition: all 0.4s ease;
  white-space: nowrap;
}

.social-link:hover {
  color: #f4f4f4;
  background-color: var(--clr-lighter);
}

.mobile-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2rem;
  text-decoration: none;
  color: var(--clr-white);
}

.mobile-link:visited {
  color: var(--clr-white);
  text-decoration: none;
}

.mobile-link:link {
  color: var(--clr-white);
  text-decoration: none;
}

.social-links-mobile-inner {
  justify-content: center;
  gap: 5rem;
}
// header end

// About Me start

.about-img {
  width: 200px;
}

// About Me end

// Profile & skills start

.tech-skill-icon {
  font-size: var(--size-300);
}

.tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-item span {
  padding-left: 20px;
}

.tech-skills {
  display: flex;
  flex-direction: column;
  gap: var(--size-200);
}

.view-resume-btn {
  transition: all 0.3s ease-in-out;
}

.download-resume-btn {
  background-color: var(--clr-light) !important;
  color: var(--clr-white);
  transition: all 0.3s ease-in-out;
}

.download-resume-btn:hover {
  background-color: var(--clr-lightest) !important;
  color: var(--clr-white);
}

.linkedin-profile {
  text-decoration: none;
}

.linkedin-list-item {
  transition: all 0.2s ease-in;
}

.linkedin-list-item:hover {
  transform: scale(1.05);
}

// Profile & skills end

// Tabbed component start
.tabbed-component {
  padding-top: 20px;
  background-color: var(--clr-dark);
  color: #fff;
  height: 600px;
}

.container-descriptions {
  // padding: 0 0 2rem 0;
}

.bootstrap-container {
  position: relative;
}

.tabs-container {
  transform: translateY(-35%);
}

.tab {
  color: var(--clr-white);
  cursor: pointer;
  padding: 1rem;
  white-space: nowrap;
  border: 0;
  background-color: var(--clr-darkest);
  transition: all 0.3s ease;
  font-weight: var(--fw-100);
}

.description-how-text p {
  text-align: justify;
}

// Make the click effect of tabs only work on 768px and up

@media (min-width: 768px) {
  .tab.tab_active {
    transform: translateY(-35%);
    background-color: var(--clr-lighter);
  }

  .learning-component:not(:last-child) {
    border-right: 1px solid white;
  }
}

.html-custom {
  color: var(--clr-html-logo);
}

.js-custom {
  color: var(--clr-js-logo);
}

.php-custom {
  color: var(--clr-php-logo);
}

.react-custom {
  color: var(--clr-react);
}

.css-custom {
  color: var(--clr-css-logo);
}

.sass-custom {
  color: var(--clr-sass-logo);
}

.description {
  overflow: hidden;
  display: none;
  min-height: 350px;
  padding-bottom: 3rem;
}

.description-active {
  display: flex;
}

.tab-text {
  display: none;
}

.tab_active {
  transform: translateY(-45%);
}

// Tabbed component end

// portfolio content start

// .card-custom {
//   transition: all 0.4s ease;
// }

// .card-custom:hover {
//   cursor: pointer;
//   transform: scale(1.05);
//   opacity: 0.8;
// }

// .my_overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   width: 100vw;
//   height: 100vh;
//   background-color: rgba(0, 0, 0, 0.7);
//   backdrop-filter: blur(3px);
//   z-index: 11;
// }

// .closing_btn {
//   position: absolute;
//   top: var(--size-200);
//   right: var(--size-200);
//   z-index: 11;
//   color: #000;
// }

// .closing_btn:hover {
//   cursor: pointer;
// }

// .display-none {
//   display: none !important;
// }

// // modals

// .my_modal {
//   position: fixed;
//   top: 25%;
//   left: 50%;
//   transform: translate(-50%, -20%);
//   border-radius: var(--size-200);
//   padding: var(--size-500);
//   z-index: 1000;
//   max-width: 600px;
//   width: 90%;
//   // max-height: 90vh;
//   overflow: hidden;
//   box-sizing: border-box;
// }

// .modal_image {
//   padding-top: var(--size-100);
// }

// .modal_image_inner {
//   border-radius: var(--size-200);
// }

// .modal_title {
//   padding-top: var(--size-200);
// }

// .modal_action {
//   display: flex;
//   justify-content: center;
//   padding-top: var(--size-200);
//   gap: var(--size-100);
// }

// .modal_paragraph {
//   padding-top: var(--size-200);
// }

// modal styling after replacement with bootstrap modals
.project-card {
  transition: all 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.modal-footer {
  border: none;
}

.btn-preview {
  flex: 1;
}

.btn-github {
  flex: 1;
}

.modal-body img {
  border-radius: 5px;
}

.image-inside-modal {
  border: 1px solid var(--clr-black);
}

.card-text-custom {
  text-align: justify;
}

// portfolio content end

// learning journey start
.currently-learning {
  background-color: rgba(0, 0, 0, 0.7);
}

.icon-node-custom {
  color: var(--clr-node);
}

.icon-php-custom {
  color: var(--clr-php);
}

.text-node-custom {
  color: var(--clr-node);
}

.text-php-custom {
  color: var(--clr-php);
}

// learning journey end

// Dev Blog Preview start

.dev-blog {
  background-color: var(--clr-darkest);
}

// Dev Blog Preview end

// Contact form start (Modal)

.contact_form {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
  background-color: hsla(209, 33%, 27%, 1);
  padding: var(--size-700);
  border-radius: 20px;
}

.contact_form div {
  background-color: white;
}

.contact_form div input {
  color: var(--clr-black) !important;
}

.contact_form div textarea {
  color: var(--clr-black) !important;
}

// .form-button {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 1rem;
//   border-radius: 50%;
//   position: fixed;
//   bottom: 12.5%;
//   right: 2.5%;
//   background-color: #0f171e;
//   z-index: 102;
//   color: var(--clr-white);
// }

.submit-custom {
  background-color: hsl(208, 33%, 9%) !important;
}

// Contact form end (Modal)

// .back-to-top {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: fixed;
//   bottom: 5%;
//   right: 2.5%;
//   color: var(--clr-white);
//   padding: 1rem;
//   border-radius: 50%;
//   background-color: red;
// }

// Side buttons start

.form-modal-btn {
  position: fixed;
  right: 2%;
  bottom: 25%;
  color: var(--clr-white);
}

.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-dark);
  padding: 0.75rem;
  border-radius: 50%;
  position: fixed;
  right: 2%;
  bottom: 5%;
  color: var(--clr-white);
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-dark);
  padding: 0.75rem;
  border-radius: 50%;
  position: fixed;
  bottom: 12.5%;
  right: 2.5%;
  z-index: 11;
}

.form-button:hover,
.back-to-top:hover {
  cursor: pointer;
}

.form-modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-dark);
  padding: 0.75rem;
  border-radius: 50%;
  z-index: 11;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.submit-btn {
  flex: 1;
}

.cancel-btn {
  flex: 1;
}

.modal-form {
  padding: 1rem;
  border-radius: 0.75rem;
}

// Side buttons end

// Styling the Footer start

.logo-copyright-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-logo-link {
  text-decoration: none;
}

// Styling the Footer end

// Styling the Prompt start

.work-in-progress-info-note {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(50, 50, 50, 0.9); /* Dark semi-transparent */
  color: #f1f1f1; /* Soft white */
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  max-width: 90%;
  width: 400px;
  text-align: center;
  z-index: 1000;
}

.work-in-progress-info-note .popup-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.work-in-progress-info-note p {
  margin: 5px 0;
}

.closing-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  color: #bbb;
  font-size: 18px;
  cursor: pointer;
}

.closing-button:hover {
  color: #fff;
}

// Styling the Prompt end

// Media Queries
@media (max-width: 577px) {
  // about me
  .about-content {
    flex-direction: column;
  }

  .about-me-paragraph {
    text-align: justify;
  }
  // tabbed component
  .tabbed-component {
    height: 650px;
  }

  .description {
    flex-direction: column;
    // padding: 0 2rem;
  }

  .tabs-container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    // padding: 0 2rem;
  }

  .tab {
    flex: 1;
  }

  .description-how-title,
  .description-what-title {
    font-size: 1.4rem;
  }

  .description p {
    font-size: 1rem;
    text-align: justify;
  }

  // projects
  .btn-preview {
    font-size: 0.8rem;
    white-space: nowrap;
  }

  .btn-github {
    font-size: 0.8rem;
    white-space: nowrap;
  }
}

@media (min-width: 578px) and (max-width: 769px) {
  .navbar-custom {
    padding: 0;
  }

  .header .roles {
    font-size: 18px !important;
  }

  .header .social i {
    font-size: 30px;
  }

  .about-content {
    flex-direction: column;
  }

  .stats .stat {
    border-right: none !important;
    margin-bottom: 40px;
    border-bottom: var(--bs-dark) solid 1px;
    padding-bottom: 20px;
  }

  .social-links-row {
    display: flex;
    gap: 0.5rem;
  }

  .social-links-row a {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  // styling the navigation
  .nav-link {
    display: flex;
    justify-content: center;
  }

  .container-custom {
    max-width: 100% !important;
  }

  // tabbed component
  .tabbed-component {
    height: 500px;
  }

  .description {
    flex-direction: column;
    // padding: 0 5rem;
  }

  .tabs-container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    // padding: 0 5rem;
  }

  .tab {
    flex: 1;
  }

  .description-how-title,
  .description-what-title {
    font-size: 1.4rem;
  }

  .description p {
    font-size: 1rem;
    text-align: justify;
  }
}

@media (min-width: 770px) and (max-width: 992px) {
  .navbar-custom {
    padding: 0 50px;
  }

  // tabbed component
  .tabbed-component {
    height: 480px;
  }

  .description {
    flex-direction: column;
    // padding: 0 7.5rem;
  }

  .tabs-container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    // padding: 0 7.5rem;
  }

  .tab {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .tab-text {
    display: block;
  }

  .description p {
    font-size: 1rem;
    text-align: justify;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  // tabbed component
  .tabbed-component {
    height: 480px;
  }

  .description {
    flex-direction: row;
    // padding: 0 7.5rem;
    gap: 3rem;
  }

  .tabs-container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    // padding: 0 7.5rem;
  }

  .tab {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .tab-text {
    display: block;
  }

  .description p {
    font-size: 1rem;
    text-align: justify;
  }

  .description-how {
    flex: 2;
    padding-right: 1rem;
    border-right: 1px solid white;
  }

  .description-what {
    flex: 1;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  // tabbed component
  .tabbed-component {
    height: 480px;
  }

  .description {
    flex-direction: row;
    // padding: 0 8.5rem;
    gap: 3rem;
  }

  .tabs-container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    // padding: 0 8.5rem;
  }

  .tab {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .tab-text {
    display: block;
  }

  .description p {
    font-size: 1rem;
    text-align: justify;
  }

  .description-how {
    flex: 2;
    padding-right: 1rem;
    border-right: 1px solid white;
  }

  .description-what {
    flex: 1;
  }
}

@media (min-width: 1401px) {
  // tabbed component
  .tabbed-component {
    height: 450px;
  }

  .description {
    flex-direction: row;
    // padding: 0 12.5rem;
    gap: 3rem;
  }

  .tabs-container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    // padding: 0 12.5rem;
  }

  .tab {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .tab-text {
    display: block;
  }

  .description p {
    font-size: 1rem;
    text-align: justify;
  }

  .description-how {
    flex: 2;
    padding-right: 1rem;
    border-right: 1px solid white;
  }

  .description-what {
    flex: 1;
  }
}

.no-display {
  display: none;
}
